{% extends 'base.html' %}
{% block title %} Add Server {% endblock %}

{% block content %}
<style>
    body {
        background: #383a3d;
    }

    /* set form background colour*/
    form {
        background: #fff;
    }

    #form-box {
        padding-top: 25vh;
    }

    /* set padding and size of th form */
    .form-container {
        border-radius: 10px;
        padding: 40px;
    }
</style>

<section class="container-fluid" id="form-box">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-4">
            <form method="POST" class="form-container" autocomplete="off">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="sudo user" aria-label="Username"
                        name="username" required>
                    <span class="input-group-text">@</span>
                    <input type="text" class="form-control" placeholder="Server" aria-label="Server" name="address"
                        required>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <input type="password" id="password" class="form-control validate"
                            aria-describedby="passwordHelpInline" placeholder="Sudo Password" name="password"
                            autocomplete="new-password" required>
                    </div>

                    <div class="col-auto">
                        <input type="password" id="confirm_password" class="form-control validate"
                            aria-describedby="passwordHelpInline" placeholder="Confirm Password"
                            autocomplete="new-password">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Server</button>

                </div>

            </form>
        </section>
    </section>
</section>
<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

{% endblock %}