<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create user</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        Username <br>
        <input type="text" name="username"><br>
        Server address <br>
        <input type="text" name="server_address"><br>
        Sudo Privileges
        <input type="checkbox" name="sudo"><br>
        <button action="submit">Submit</button>
    </form>
</body>
</html>